.coverage__block {
  margin-top: 159px;

  .cyber__risk__info {
    margin-bottom: 116px;

    h1 {
      font-family: 'Commissioner';
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 110%;
      text-align: center;
      letter-spacing: -0.02em;
      color: #FFFFFF;
    }

    &-subtitle {
      font-family: 'Commissioner';
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 140%;
      text-align: center;
      letter-spacing: -0.02em;
      color: #FFFFFF;
      opacity: 0.6;
      width: 57%;
      margin: 0 auto;
      margin-top: 32px;
      margin-bottom: 57px;
    }

    ul {
      display: grid;
      grid-template-columns: 30.61% 34.95% 30.61%;
      grid-column-gap: 16px;
      margin: 0 292px;
      background: rgba(70, 62, 160, 0.7);
      backdrop-filter: blur(26px);
      border-radius: 16px;
      padding: 16px 24px;

      li {

        &:nth-child(2) {
          border-right: 1px solid rgba(225, 225, 225, 0.1);
          border-left: 1px solid rgba(225, 225, 225, 0.1);
        }

        p.h3-heading {
          font-family: 'JetBrains Mono';
          font-style: normal;
          font-weight: 500;
          font-size: 19.3846px;
          line-height: 140%;
          text-align: center;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: #FFFFFF;
          opacity: 1;
          margin-bottom: 8px;
          white-space: pre;

          span::before {
            content: '\A';
          }
        }

        p.text {
          font-family: 'Commissioner';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          text-align: center;
          color: #FFFFFF;
          opacity: 0.5;
          white-space: pre;

          span::before {
            content: '\A';
          }
        }
      }
    }
  }

  .about__cyber__protection {
    margin-bottom: 20px;

    h2 {
      font-family: 'Commissioner';
      font-style: normal;
      font-weight: 600;
      font-size: 56px;
      line-height: 120%;
      text-align: center;
      letter-spacing: -0.01em;
      color: #FFFFFF;
      max-width: 980px;
      margin: 0 auto 62px auto;
    }

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      margin: 0 242px;

      &__item {
        padding: 72px 56px;
        background: rgba(70, 62, 160, 0.5);
        backdrop-filter: blur(30px);
        border-radius: 16px;
        display: flex;
        column-gap: 48px;
        align-items: center;

        &-picture {
          display: flex;
          flex-direction: column;
          row-gap: 16px;
          max-width: 156px;

          .signature {
            font-family: 'Commissioner';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            color: #FFFFFF;
            opacity: 0.5;

            span {
              font-weight: 600;
              font-size: 16px;
            }
          }
        }

        &-text {
          height: fit-content;

          .h3-heading {
            font-family: 'JetBrains Mono';
            font-style: normal;
            font-weight: 500;
            font-size: 19.3846px;
            line-height: 140%;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #FFFFFF;
            display: block;
            margin-bottom: 16px;
          }

          .text {
            font-family: 'Commissioner';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 140%;
            color: rgba(254, 254, 254, 0.6);
            display: block;
          }
        }
      }
    }
  }

  .customer__dashboard {
    margin: 0 242px;
    background: rgba(70, 62, 160, 0.5);
    backdrop-filter: blur(30px);
    border-radius: 16px;

    h2 {
      font-family: 'Commissioner';
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 120%;
      text-align: center;
      letter-spacing: -0.01em;
      color: #FFFFFF;
      padding-top: 65px;
      margin-bottom: 24px;
    }

    p {
      font-family: 'Commissioner';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 150%;
      text-align: center;
      letter-spacing: -0.02em;
      color: #FFFFFF;
      opacity: 0.5;
      margin: 0 auto 48px auto;

      span {
        white-space: pre;

        &::before {
          content: '\A';
        }
      }
    }

    a {
      padding: 12px 14px;
      font-family: 'JetBrains Mono';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #FFFFFF;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 4px;
      display: block;
      margin: 0 auto 5px auto;
      width: fit-content;

      svg,
      span {
        vertical-align: middle;
      }
    }

    &-img img {
      margin: 0 auto;
      display: block;
    }
  }
}

@media (max-width: 1439px) {
  .coverage__block {
    .cyber__risk__info {
      margin-bottom: 72px;

      &-subtitle {
        width: 85%;
      }

      ul {
        margin: 0 70px;
      }
    }

    .about__cyber__protection {
      h2 {
        max-width: 960px;
      }

      &-list {
        margin: 0 85px;
      }
    }

    .customer__dashboard {
      margin: 0 85px;

      &-img img {
        width: 95%;
      }
    }
  }
}

@media (max-width: 1023px) {
  .coverage__block {
    margin-top: 60px;

    .cyber__risk__info {
      margin-bottom: 26px;

      h1 {
        font-size: 39px;
      }

      &-subtitle {
        font-size: 18px;
      }

      ul {
        margin: 0 10px;
      }
    }

    .about__cyber__protection {
      h2 {
        font-size: 32px;
        max-width: 600px;
        margin-bottom: 20px;
      }

      &-list {
        margin: 0 10px;
      }
    }

    .customer__dashboard {
      margin: 0 10px;

      h2 {
        font-size: 32px;
      }

      p {
        font-size: 18px;
        padding: 0 13px;
      }
    }
  }
}

@media (max-width: 767px) {
  .coverage__block {
    .cyber__risk__info {
      h1 {
        padding: 0 10px;
      }

      ul {
        grid-template-columns: 1fr;
        grid-row-gap: 24px;

        li {
          &:nth-child(2) {
            border: none;
            border-top: 1px solid rgba(225, 225, 225, 0.1);
            border-bottom: 1px solid rgba(225, 225, 225, 0.1);
            padding: 24px 0;
          }

          p.h3-heading {
            span::before {
              content: ' ';
            }
          }

          p.text {
            span::before {
              content: ' ';
            }
          }
        }
      }
    }

    .about__cyber__protection {
      h2 {
        padding: 0 10px;
      }

      &-list {
        &__item {
          flex-direction: column;
          align-items: normal;
          row-gap: 48px;
          padding: 56px 32px;

          &-picture {
            flex-direction: row;
            column-gap: 33px;
            max-width: none;

            .signature {
              font-size: 12px;

              span {
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .customer__dashboard {
      p {
        span {
          white-space: normal;

          &::before {
            content: ' ';
          }
        }
      }

      a {
        margin-bottom: 36px;
      }

      &-img {
        overflow: hidden;

        img {
          width: 150%;
          position: relative;
          left: -15%;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .coverage__block {
    .cyber__risk__info {
      ul {
        li {
          p.h3-heading {
            span::before {
              content: '\A';
            }
          }

          p.text {
            span::before {
              content: '\A';
            }
          }
        }
      }
    }
  }
}