.welcome__block-sphere {
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, 0);
  
  @media (max-width: 425px) {
    top: 60px;
  }

  canvas {
    width: 1378px;
    opacity: 0.5;
    
    @media (max-width: 1023px) {
      width: 1170px;
    }
    
    @media (max-width: 425px) {
      width: 670px;
    }
  }
}