* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  background: #000;
  position: relative; }

.sphere__background {
  content: '';
  width: 755px;
  height: 899px;
  mix-blend-mode: normal;
  filter: blur(130px);
  position: absolute;
  right: 0;
  top: -240px;
  z-index: -1;
  background: #2f5af2;
  background: linear-gradient(180deg, rgba(47, 90, 242, 0.3) 0%, rgba(112, 97, 163, 0.7) 20%, rgba(245, 138, 37, 0.2) 100%); }
  @media (max-width: 1039px) {
    .sphere__background {
      width: 542px;
      height: 744px; } }

header {
  margin: 0 194px;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header .navigation a {
    color: #fff;
    text-transform: uppercase;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.04em; }
    header .navigation a:nth-child(2) {
      margin: 0 32px; }
    header .navigation a .active {
      opacity: 0.3; }
  header .application__btn {
    color: #ffffff;
    text-transform: uppercase;
    padding: 12px 14px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.04em;
    text-decoration: none; }

@media (max-width: 1439px) {
  header {
    margin: 0 134px; } }
@media (max-width: 1023px) {
  header {
    margin: 0 85px; } }
@media (max-width: 767px) {
  header {
    margin: 0 16px; }
    header .navigation {
      display: none; } }
main.home__block {
  margin-top: 127px; }

.welcome__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 125px; }
  .welcome__block h1 {
    font-family: 'Commissioner', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 110%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #fff;
    text-align: center;
    width: 70%; }
  .welcome__block p {
    margin-top: 32px;
    margin-bottom: 110px;
    font-family: 'Commissioner', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.02em;
    opacity: 0.6;
    color: #ffffff;
    width: 40%; }
  .welcome__block a {
    width: fit-content;
    padding: 12px 14px;
    background: #FFFFFF;
    border-radius: 4px;
    font-family: 'JetBrains Mono', monospace;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.04em;
    font-size: 12px;
    line-height: 100%;
    color: #050402; }
    .welcome__block a span,
    .welcome__block a svg {
      vertical-align: middle; }

.first__content__block,
.second__content__block {
  margin: 0 70px; }

.first__content__block {
  background: #1E1E7D;
  padding-left: 146px;
  padding-right: 146px;
  border-radius: 16px;
  position: relative;
  padding-bottom: 466px;
  overflow: hidden; }
  .first__content__block-wrapper {
    position: relative;
    z-index: 5; }
  .first__content__block h2 {
    font-family: 'Commissioner', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    text-align: center;
    padding-top: 100px;
    width: 70%;
    margin: 0 auto; }
  .first__content__block-advantages {
    margin-top: 73px;
    margin-bottom: 31px;
    display: grid;
    grid-template-columns: 30.16% 34.92% 30.16%;
    grid-column-gap: 24px; }
    .first__content__block-advantages__item:nth-child(2) {
      border-right: 1px solid rgba(225, 225, 225, 0.1);
      border-left: 1px solid rgba(225, 225, 225, 0.1); }
      .first__content__block-advantages__item:nth-child(2) p {
        width: 70%;
        margin: 0 auto; }
    .first__content__block-advantages__item h3 {
      font-family: 'JetBrains Mono', monospace;
      font-weight: 500;
      font-size: 19.3846px;
      line-height: 140%;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #FFFFFF;
      text-align: center; }
      .first__content__block-advantages__item h3 svg,
      .first__content__block-advantages__item h3 span {
        vertical-align: middle; }
    .first__content__block-advantages__item p {
      font-family: 'Commissioner', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      text-align: center;
      color: #FFFFFF;
      opacity: 0.5;
      text-align: center; }
  .first__content__block a {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    padding: 12px 14px;
    display: block;
    margin: 0 auto;
    width: fit-content; }
    .first__content__block a span,
    .first__content__block a svg {
      vertical-align: middle; }
  .first__content__block-img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0); }
  .first__content__block-shpere__bg-one {
    position: absolute;
    width: 925px;
    height: 854px;
    left: -251px;
    top: -437px;
    background: linear-gradient(180deg, #FFC27B 0%, rgba(255, 197, 111, 0.46) 100%);
    filter: blur(156px);
    z-index: 4; }
  .first__content__block-shpere__bg-two {
    position: absolute;
    width: 1030px;
    height: 1034px;
    left: 625px;
    top: -488px;
    background: #2f5af2;
    background: linear-gradient(180deg, #2f5af2 0%, #7061a3 20%, rgba(245, 138, 37, 0.3) 100%);
    mix-blend-mode: normal;
    filter: blur(130px);
    z-index: 3; }

.second__content__block {
  margin-top: 32px;
  background: #00005F;
  padding-bottom: 92px;
  border-radius: 16px;
  position: relative;
  overflow: hidden; }
  .second__content__block-wrapper {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .second__content__block h2 {
    padding-top: 100px;
    font-family: 'Commissioner', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    text-align: center; }
  .second__content__block p {
    font-family: 'Commissioner', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    opacity: 0.5;
    margin-top: 56px;
    margin-bottom: 158px; }
  .second__content__block-shpere__bg-one {
    position: absolute;
    width: 861px;
    height: 854px;
    left: -244px;
    top: -360px;
    background: linear-gradient(180deg, #FF7BCA 0%, rgba(255, 197, 111, 0.46) 100%);
    filter: blur(100px);
    z-index: 4; }
  .second__content__block-shpere__bg-two {
    position: absolute;
    width: 1263px;
    height: 1253px;
    left: 448px;
    top: -559px;
    background: linear-gradient(180deg, #F22FB0 0%, rgba(245, 138, 37, 0) 100%, #7061A3 100%);
    mix-blend-mode: normal;
    filter: blur(130px);
    z-index: 3; }

@media (max-width: 1439px) {
  .first__content__block {
    padding-left: 50px;
    padding-right: 50px; } }
@media (max-width: 1023px) {
  .welcome__block h1 {
    font-size: 39px; }
  .welcome__block p {
    font-size: 18px;
    margin-bottom: 68px; }

  .first__content__block,
  .second__content__block {
    margin: 0 10px; }

  .first__content__block h2 {
    font-size: 32px; }
  .first__content__block-advantages {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 0;
    grid-row-gap: 48px;
    margin-bottom: 46px; }
    .first__content__block-advantages__item:nth-child(2) {
      border: none; }
      .first__content__block-advantages__item:nth-child(2) p {
        width: auto; }
    .first__content__block-advantages__item p {
      width: 70%;
      margin: 0 auto; }
  .first__content__block a {
    margin-bottom: 54px; }

  .second__content__block {
    margin-top: 16px; }
    .second__content__block h2 {
      font-size: 32px; }
    .second__content__block p {
      font-size: 18px; } }
@media (max-width: 767px) {
  .welcome__block {
    margin-bottom: 61px; }
    .welcome__block h1 {
      width: 87%; }
    .welcome__block p {
      width: 80%;
      margin-bottom: 38px; }

  .first__content__block {
    padding-left: 25px;
    padding-right: 25px; }
    .first__content__block h2 {
      width: 100%; }
    .first__content__block p {
      width: 100%; }

  .second__content__block {
    padding-bottom: 62px; }
    .second__content__block p {
      margin-bottom: 40px; }
    .second__content__block svg {
      width: 100%;
      height: auto;
      padding: 0 14px; } }
footer {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 193px;
  padding-top: 30px;
  margin-top: 70px; }
  footer p {
    font-family: 'Commissioner', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #83848A;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 40px; }
  footer .footer__links {
    margin-top: 16px; }
    footer .footer__links a {
      font-family: 'Commissioner', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #83848A; }
      footer .footer__links a:nth-child(2) {
        margin: 0 40px; }

@media (max-width: 1023px) {
  footer {
    padding: 0 16px;
    padding-top: 30px;
    margin-top: 17px; } }
@media (max-width: 767px) {
  footer .footer__links a:nth-child(2) {
    margin: 0 30px; } }

/*# sourceMappingURL=style.css.map */
