* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

li {
  list-style: none; }

body {
  position: relative; }

.sphere__background {
  position: absolute;
  width: 1263px;
  height: 1253px;
  left: 882px;
  top: -431px;
  mix-blend-mode: normal;
  filter: blur(130px);
  border-radius: 100%;
  z-index: -1;
  opacity: 0.7;
  background: #2f5af2;
  background: -moz-linear-gradient(180deg, rgba(47, 90, 242, 0.4) 0%, rgba(112, 97, 163, 0.9) 30%, rgba(245, 138, 37, 0.3) 100%);
  background: -webkit-linear-gradient(180deg, rgba(47, 90, 242, 0.4) 0%, rgba(112, 97, 163, 0.9) 30%, rgba(245, 138, 37, 0.3) 100%);
  background: linear-gradient(180deg, rgba(47, 90, 242, 0.4) 0%, rgba(112, 97, 163, 0.9) 30%, rgba(245, 138, 37, 0.3) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f5af2",endColorstr="#f58a25",GradientType=1); }
  @media (max-width: 1600px) {
    .sphere__background {
      left: 662px; } }
  @media (max-width: 1340px) {
    .sphere__background {
      left: 472px; } }
  @media (max-width: 1023px) {
    .sphere__background {
      left: 362px; } }
  @media (max-width: 700px) {
    .sphere__background {
      left: 234px; } }
  @media (max-width: 400px) {
    .sphere__background {
      left: 132px;
      opacity: 1; } }

.wrapper {
  position: relative;
  overflow: hidden; }

.coverage__block-sphere__one {
  position: absolute;
  width: 1137px;
  height: 854px;
  left: -300px;
  top: -427px;
  background: linear-gradient(180deg, #FFC27B 0%, rgba(255, 197, 111, 0.46) 100%);
  opacity: 0.6;
  filter: blur(156px);
  border-radius: 100%;
  z-index: -1; }
  @media (max-width: 1600px) {
    .coverage__block-sphere__one {
      width: 925px; } }
  @media (max-width: 1100px) {
    .coverage__block-sphere__one {
      left: -311px;
      top: -499px; } }
  @media (max-width: 650px) {
    .coverage__block-sphere__one {
      width: 639px;
      height: 590px;
      left: -325px;
      top: -295px; } }
.coverage__block-sphere__two {
  position: absolute;
  width: 1263px;
  height: 1253px;
  left: 815px;
  top: -488px;
  background: #2f5af2;
  background: linear-gradient(180deg, rgba(47, 90, 242, 0.4) 0%, rgba(112, 97, 163, 0.9) 30%, rgba(245, 138, 37, 0.3) 100%);
  mix-blend-mode: normal;
  filter: blur(130px);
  border-radius: 100%;
  z-index: -1; }
  @media (max-width: 1600px) {
    .coverage__block-sphere__two {
      left: 625px; } }
  @media (max-width: 650px) {
    .coverage__block-sphere__two {
      display: none; } }
.coverage__block-sphere__three {
  position: absolute;
  width: 1237px;
  height: 1142px;
  left: -390px;
  top: 673px;
  background: linear-gradient(180deg, #FFC27B 0%, rgba(255, 197, 111, 0.46) 100%);
  opacity: 0.2;
  filter: blur(156px);
  border-radius: 100%;
  z-index: -1; }
  @media (max-width: 1600px) {
    .coverage__block-sphere__three {
      left: -456px; } }
  @media (max-width: 1100px) {
    .coverage__block-sphere__three {
      left: -678px; } }
  @media (max-width: 767px) {
    .coverage__block-sphere__three {
      width: 828px;
      height: 833px;
      left: -374px;
      top: 561px; } }
  @media (max-width: 650px) {
    .coverage__block-sphere__three {
      left: -632px; } }
.coverage__block-sphere__four {
  position: absolute;
  width: 1263px;
  height: 1253px;
  left: 877px;
  top: 756px;
  background: #2f5af2;
  background: linear-gradient(180deg, rgba(47, 90, 242, 0.7) 0%, rgba(112, 97, 163, 0.9) 50%, rgba(245, 138, 37, 0.3) 100%);
  mix-blend-mode: normal;
  filter: blur(130px);
  border-radius: 100%;
  z-index: -1; }
  @media (max-width: 1600px) {
    .coverage__block-sphere__four {
      left: 625px; } }
  @media (max-width: 1100px) {
    .coverage__block-sphere__four {
      left: 446px; } }
  @media (max-width: 767px) {
    .coverage__block-sphere__four {
      width: 846px;
      height: 913px;
      left: 222px;
      top: 558px; } }
  @media (max-width: 650px) {
    .coverage__block-sphere__four {
      left: 68px; } }
.coverage__block-sphere__five {
  position: absolute;
  width: 1232px;
  height: 1093px;
  left: -327px;
  bottom: 0;
  background: linear-gradient(180deg, #FFC27B 0%, rgba(255, 197, 111, 0.46) 100%);
  opacity: 0.4;
  filter: blur(156px);
  transform: rotate(-180deg);
  border-radius: 100%;
  z-index: -1; }
  @media (max-width: 1600px) {
    .coverage__block-sphere__five {
      width: 882px;
      height: 879px; } }
  @media (max-width: 786px) {
    .coverage__block-sphere__five {
      display: none; } }
.coverage__block-sphere__six {
  position: absolute;
  width: 1263px;
  height: 1253px;
  right: -330px;
  bottom: -675px;
  background: #2f5af2;
  background: linear-gradient(180deg, rgba(47, 90, 242, 0.4) 0%, rgba(112, 97, 163, 0.9) 30%, rgba(245, 138, 37, 0.3) 100%);
  mix-blend-mode: normal;
  filter: blur(130px);
  transform: rotate(-180deg);
  border-radius: 100%;
  z-index: -1; }
  @media (max-width: 1600px) {
    .coverage__block-sphere__six {
      right: -507px; } }
  @media (max-width: 1100px) {
    .coverage__block-sphere__six {
      right: -857px; } }
  @media (max-width: 786px) {
    .coverage__block-sphere__six {
      display: none; } }

.compony__block-sphere__one {
  position: absolute;
  width: 617px;
  height: 612px;
  left: -115px;
  top: -290px;
  background: linear-gradient(180deg, #FF7BCA 0%, rgba(255, 197, 111, 0.46) 100%);
  opacity: 0.3;
  filter: blur(100px);
  z-index: -1; }
.compony__block-sphere__two {
  position: absolute;
  width: 50%;
  height: 1253px;
  right: 0;
  top: -45px;
  background: #2f5af2;
  background: linear-gradient(180deg, rgba(47, 90, 242, 0.6) 0%, rgba(112, 97, 163, 0.9) 50%, rgba(245, 138, 37, 0.4) 100%);
  mix-blend-mode: normal;
  filter: blur(130px);
  z-index: -1; }

.donload__form__block-sphere__one {
  position: absolute;
  width: 617px;
  height: 612px;
  left: -115px;
  top: -290px;
  background: linear-gradient(180deg, #FF7BCA 0%, rgba(255, 197, 111, 0.46) 100%);
  opacity: 0.3;
  filter: blur(100px);
  z-index: -1; }
.donload__form__block-sphere__two {
  position: absolute;
  width: 1263px;
  height: 1253px;
  left: 521px;
  top: -342px;
  background: linear-gradient(180deg, #2F5AF2 0%, rgba(245, 138, 37, 0) 100%, #7061A3 100%);
  mix-blend-mode: normal;
  opacity: 0.3;
  filter: blur(130px);
  z-index: -1; }
.donload__form__block-sphere__three {
  position: absolute;
  width: 1263px;
  height: 1253px;
  left: -492px;
  top: 435px;
  background: linear-gradient(180deg, #2F5AF2 0%, rgba(245, 138, 37, 0) 100%, #7061A3 100%);
  mix-blend-mode: normal;
  opacity: 0.3;
  filter: blur(130px);
  z-index: -1; }

header {
  margin: 0 194px;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header .navigation a {
    color: #fff;
    text-transform: uppercase;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.04em; }
    header .navigation a:nth-child(2) {
      margin: 0 32px; }
    header .navigation a.active {
      opacity: 0.3; }
  header .application__btn {
    color: #ffffff;
    text-transform: uppercase;
    padding: 12px 14px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.04em;
    text-decoration: none; }
  header .download__page__link {
    width: fit-content;
    padding: 12px 14px;
    background: #FFFFFF;
    border-radius: 4px;
    font-family: 'JetBrains Mono', monospace;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.04em;
    font-size: 12px;
    line-height: 100%;
    color: #050402; }
    header .download__page__link svg,
    header .download__page__link span {
      vertical-align: middle; }

@media (max-width: 1439px) {
  header {
    margin: 0 134px; } }
@media (max-width: 1023px) {
  header {
    margin: 0 85px; } }
@media (max-width: 767px) {
  header {
    margin: 0 16px; }
    header .navigation {
      display: block;
      position: fixed;
      bottom: 50px;
      z-index: 100;
      left: 50%;
      transform: translate(-50%, 0);
      width: max-content;
      background: rgba(49, 43, 50, 0.7);
      backdrop-filter: blur(15px);
      border-radius: 43px;
      padding: 19px 32px; } }
main.home__block {
  margin-top: 127px; }

.welcome__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 125px; }
  .welcome__block h1 {
    font-family: 'Commissioner', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 110%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #fff;
    text-align: center;
    width: 70%; }
  .welcome__block p {
    margin-top: 32px;
    margin-bottom: 110px;
    font-family: 'Commissioner', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.02em;
    opacity: 0.6;
    color: #ffffff;
    width: 40%; }
  .welcome__block a {
    width: fit-content;
    padding: 12px 14px;
    background: #FFFFFF;
    border-radius: 4px;
    font-family: 'JetBrains Mono', monospace;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.04em;
    font-size: 12px;
    line-height: 100%;
    color: #050402; }
    .welcome__block a span,
    .welcome__block a svg {
      vertical-align: middle; }

.first__content__block,
.second__content__block {
  margin: 0 70px; }

.first__content__block {
  background: #1E1E7D;
  padding-left: 146px;
  padding-right: 146px;
  border-radius: 16px;
  position: relative;
  padding-bottom: 466px;
  overflow: hidden; }
  .first__content__block-wrapper {
    position: relative;
    z-index: 5; }
  .first__content__block h2 {
    font-family: 'Commissioner', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    text-align: center;
    padding-top: 100px;
    width: 70%;
    margin: 0 auto; }
  .first__content__block-advantages {
    margin-top: 73px;
    margin-bottom: 31px;
    display: grid;
    grid-template-columns: 30.16% 34.92% 30.16%;
    grid-column-gap: 24px; }
    .first__content__block-advantages__item:nth-child(2) {
      border-right: 1px solid rgba(225, 225, 225, 0.1);
      border-left: 1px solid rgba(225, 225, 225, 0.1); }
      .first__content__block-advantages__item:nth-child(2) p {
        width: 70%;
        margin: 0 auto; }
    .first__content__block-advantages__item h3 {
      font-family: 'JetBrains Mono', monospace;
      font-weight: 500;
      font-size: 19.3846px;
      line-height: 140%;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #FFFFFF;
      text-align: center; }
      .first__content__block-advantages__item h3 svg,
      .first__content__block-advantages__item h3 span {
        vertical-align: middle; }
    .first__content__block-advantages__item p {
      font-family: 'Commissioner', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      text-align: center;
      color: #FFFFFF;
      opacity: 0.5;
      text-align: center; }
  .first__content__block a {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    padding: 12px 14px;
    display: block;
    margin: 0 auto;
    width: fit-content; }
    .first__content__block a span,
    .first__content__block a svg {
      vertical-align: middle; }
  .first__content__block-img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0); }
  .first__content__block-shpere__bg-one {
    position: absolute;
    width: 925px;
    height: 854px;
    left: -251px;
    top: -437px;
    background: linear-gradient(180deg, #FFC27B 0%, rgba(255, 197, 111, 0.46) 100%);
    filter: blur(156px);
    border-radius: 100%;
    z-index: 4; }
    @media (max-width: 1100px) {
      .first__content__block-shpere__bg-one {
        left: -439px; } }
    @media (max-width: 650px) {
      .first__content__block-shpere__bg-one {
        left: -689px; } }
    @media (max-width: 450px) {
      .first__content__block-shpere__bg-one {
        left: -716px; } }
  .first__content__block-shpere__bg-two {
    position: absolute;
    width: 1263px;
    height: 1253px;
    left: 641px;
    top: -756px;
    background: #2f5af2;
    background: linear-gradient(180deg, #2f5af2 0%, #7061a3 20%, rgba(245, 138, 37, 0.3) 100%);
    mix-blend-mode: normal;
    filter: blur(130px);
    z-index: 3; }
    @media (max-width: 1100px) {
      .first__content__block-shpere__bg-two {
        left: 451px; } }
    @media (max-width: 650px) {
      .first__content__block-shpere__bg-two {
        left: 210px; } }
    @media (max-width: 450px) {
      .first__content__block-shpere__bg-two {
        left: 160px; } }

.second__content__block {
  margin-top: 32px;
  background: #00005F;
  padding-bottom: 92px;
  border-radius: 16px;
  position: relative;
  overflow: hidden; }
  .second__content__block-wrapper {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .second__content__block h2 {
    padding-top: 100px;
    font-family: 'Commissioner', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    text-align: center;
    white-space: pre; }
    .second__content__block h2 span::before {
      content: '\A'; }
  .second__content__block p {
    font-family: 'Commissioner', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    opacity: 0.5;
    margin-top: 56px;
    margin-bottom: 158px;
    max-width: 601px; }
  .second__content__block-shpere__bg-one {
    position: absolute;
    width: 861px;
    height: 854px;
    left: -131px;
    top: -360px;
    background: linear-gradient(180deg, #FF7BCA 0%, rgba(255, 197, 111, 0.46) 100%);
    filter: blur(100px);
    border-radius: 100%;
    z-index: 4; }
    @media (max-width: 1600px) {
      .second__content__block-shpere__bg-one {
        left: -244px; } }
    @media (max-width: 1100px) {
      .second__content__block-shpere__bg-one {
        left: -424px; } }
    @media (max-width: 650px) {
      .second__content__block-shpere__bg-one {
        left: -709px; } }
  .second__content__block-shpere__bg-two {
    position: absolute;
    width: 1263px;
    height: 1253px;
    left: 647px;
    top: -559px;
    background: linear-gradient(180deg, #F22FB0 0%, rgba(245, 138, 37, 0) 100%, #7061A3 100%);
    mix-blend-mode: normal;
    filter: blur(130px);
    border-radius: 100%;
    z-index: 3; }
    @media (max-width: 1600px) {
      .second__content__block-shpere__bg-two {
        left: 448px; } }
    @media (max-width: 1100px) {
      .second__content__block-shpere__bg-two {
        left: 310px; } }
    @media (max-width: 650px) {
      .second__content__block-shpere__bg-two {
        left: -17px; } }

@media (max-width: 1439px) {
  .first__content__block {
    padding-left: 50px;
    padding-right: 50px; } }
@media (max-width: 1238px) {
  .first__content__block-advantages {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 0;
    grid-row-gap: 48px;
    margin-bottom: 46px; }
    .first__content__block-advantages__item:nth-child(2) {
      border: none; }
      .first__content__block-advantages__item:nth-child(2) p {
        width: auto; }
    .first__content__block-advantages__item p {
      width: 70%;
      margin: 0 auto; } }
@media (max-width: 1023px) {
  main.home__block {
    margin-top: 60px; }

  .welcome__block h1 {
    font-size: 39px; }
  .welcome__block p {
    font-size: 18px;
    margin-bottom: 68px; }

  .first__content__block,
  .second__content__block {
    margin: 0 10px; }

  .first__content__block h2 {
    font-size: 32px; }
  .first__content__block-advantages {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 0;
    grid-row-gap: 48px;
    margin-bottom: 46px; }
    .first__content__block-advantages__item:nth-child(2) {
      border: none; }
      .first__content__block-advantages__item:nth-child(2) p {
        width: auto; }
    .first__content__block-advantages__item p {
      width: 70%;
      margin: 0 auto; }
  .first__content__block a {
    margin-bottom: 54px; }

  .second__content__block {
    margin-top: 16px; }
    .second__content__block h2 {
      font-size: 32px; }
    .second__content__block p {
      font-size: 18px; } }
@media (max-width: 880px) {
  .first__content__block {
    padding-bottom: 53%; }
    .first__content__block-img img {
      width: 142vw;
      object-fit: scale-down; } }
@media (max-width: 767px) {
  .welcome__block {
    margin-bottom: 61px; }
    .welcome__block h1 {
      width: auto; }
    .welcome__block p {
      width: 80%;
      margin-bottom: 38px; }

  .first__content__block {
    padding-left: 25px;
    padding-right: 25px; }
    .first__content__block h2 {
      width: 100%; }
    .first__content__block p {
      width: 100%; }

  .second__content__block {
    padding-bottom: 62px; }
    .second__content__block h2 {
      padding-left: 20px;
      padding-right: 20px;
      white-space: normal; }
      .second__content__block h2 span::before {
        content: ' '; }
    .second__content__block p {
      margin-bottom: 40px;
      padding: 0 20px;
      width: 80%; }
    .second__content__block svg {
      width: 100%;
      height: auto;
      padding: 0 14px; } }
@media (max-width: 389px) {
  .welcome__block h1 {
    font-size: 32px; }

  .first__content__block-advantages__item p {
    font-size: 13px; }
  .first__content__block a {
    font-size: 10px; }

  .second__content__block h2 {
    font-size: 29px; }
  .second__content__block p {
    width: 100%; } }
.coverage__block {
  margin-top: 159px; }
  .coverage__block .cyber__risk__info {
    margin-bottom: 116px; }
    .coverage__block .cyber__risk__info h1 {
      font-family: 'Commissioner';
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 110%;
      text-align: center;
      letter-spacing: -0.02em;
      color: #FFFFFF; }
    .coverage__block .cyber__risk__info-subtitle {
      font-family: 'Commissioner';
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 140%;
      text-align: center;
      letter-spacing: -0.02em;
      color: #FFFFFF;
      opacity: 0.6;
      width: 57%;
      margin: 0 auto;
      margin-top: 32px;
      margin-bottom: 57px; }
    .coverage__block .cyber__risk__info ul {
      display: grid;
      grid-template-columns: 30.61% 34.95% 30.61%;
      grid-column-gap: 16px;
      margin: 0 312px;
      background: rgba(70, 62, 160, 0.7);
      backdrop-filter: blur(26px);
      border-radius: 16px;
      padding: 16px 24px; }
      .coverage__block .cyber__risk__info ul li:nth-child(2) {
        border-right: 1px solid rgba(225, 225, 225, 0.1);
        border-left: 1px solid rgba(225, 225, 225, 0.1); }
      .coverage__block .cyber__risk__info ul li p.h3-heading {
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 500;
        font-size: 19.3846px;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
        opacity: 1;
        margin-bottom: 8px;
        white-space: pre; }
        .coverage__block .cyber__risk__info ul li p.h3-heading span::before {
          content: '\A'; }
      .coverage__block .cyber__risk__info ul li p.text {
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.5;
        white-space: pre; }
        .coverage__block .cyber__risk__info ul li p.text span::before {
          content: '\A'; }
  .coverage__block .about__cyber__protection {
    margin-bottom: 20px; }
    .coverage__block .about__cyber__protection h2 {
      font-family: 'Commissioner';
      font-style: normal;
      font-weight: 600;
      font-size: 56px;
      line-height: 120%;
      text-align: center;
      letter-spacing: -0.01em;
      color: #FFFFFF;
      max-width: 980px;
      margin: 0 auto 62px auto; }
    .coverage__block .about__cyber__protection-list {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      margin: 0 261px; }
      .coverage__block .about__cyber__protection-list__item {
        padding: 72px 56px;
        background: rgba(70, 62, 160, 0.5);
        backdrop-filter: blur(30px);
        border-radius: 16px;
        display: flex;
        column-gap: 48px;
        align-items: center; }
        .coverage__block .about__cyber__protection-list__item-picture {
          display: flex;
          flex-direction: column;
          row-gap: 16px;
          max-width: 156px; }
          .coverage__block .about__cyber__protection-list__item-picture .signature {
            font-family: 'Commissioner';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            color: #FFFFFF;
            opacity: 0.5;
            width: 56%; }
            .coverage__block .about__cyber__protection-list__item-picture .signature span {
              font-weight: 600;
              font-size: 16px; }
        .coverage__block .about__cyber__protection-list__item-text {
          height: fit-content; }
          .coverage__block .about__cyber__protection-list__item-text .h3-heading {
            font-family: 'JetBrains Mono';
            font-style: normal;
            font-weight: 500;
            font-size: 19.3846px;
            line-height: 140%;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #FFFFFF;
            display: block;
            margin-bottom: 16px; }
          .coverage__block .about__cyber__protection-list__item-text .text {
            font-family: 'Commissioner';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 140%;
            color: rgba(254, 254, 254, 0.6);
            display: block; }
  .coverage__block .customer__dashboard {
    margin: 0 262px;
    background: rgba(70, 62, 160, 0.5);
    backdrop-filter: blur(30px);
    border-radius: 16px; }
    .coverage__block .customer__dashboard h2 {
      font-family: 'Commissioner';
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 120%;
      text-align: center;
      letter-spacing: -0.01em;
      color: #FFFFFF;
      padding-top: 65px;
      margin-bottom: 24px; }
    .coverage__block .customer__dashboard p {
      font-family: 'Commissioner';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 150%;
      text-align: center;
      letter-spacing: -0.02em;
      color: #FFFFFF;
      opacity: 0.5;
      max-width: 737px;
      margin: 0 auto 48px auto; }
    .coverage__block .customer__dashboard a {
      padding: 12px 14px;
      font-family: 'JetBrains Mono';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #FFFFFF;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 4px;
      display: block;
      margin: 0 auto 5px auto;
      width: fit-content; }
      .coverage__block .customer__dashboard a svg,
      .coverage__block .customer__dashboard a span {
        vertical-align: middle; }
    .coverage__block .customer__dashboard-img img {
      margin: 0 auto;
      display: block; }

@media (max-width: 1439px) {
  .coverage__block .cyber__risk__info {
    margin-bottom: 72px; }
    .coverage__block .cyber__risk__info-subtitle {
      width: 85%; }
    .coverage__block .cyber__risk__info ul {
      margin: 0 70px; }
  .coverage__block .about__cyber__protection h2 {
    max-width: 960px; }
  .coverage__block .about__cyber__protection-list {
    margin: 0 85px; }
  .coverage__block .customer__dashboard {
    margin: 0 85px; }
    .coverage__block .customer__dashboard-img img {
      width: 95%; } }
@media (max-width: 1023px) {
  .coverage__block {
    margin-top: 60px; }
    .coverage__block .cyber__risk__info {
      margin-bottom: 26px; }
      .coverage__block .cyber__risk__info h1 {
        font-size: 39px; }
      .coverage__block .cyber__risk__info-subtitle {
        font-size: 18px; }
      .coverage__block .cyber__risk__info ul {
        margin: 0 10px; }
    .coverage__block .about__cyber__protection h2 {
      font-size: 32px;
      max-width: 600px;
      margin-bottom: 20px; }
    .coverage__block .about__cyber__protection-list {
      margin: 0 10px; }
    .coverage__block .customer__dashboard {
      margin: 0 10px; }
      .coverage__block .customer__dashboard h2 {
        font-size: 32px; }
      .coverage__block .customer__dashboard p {
        font-size: 18px;
        padding: 0 13px; } }
@media (max-width: 767px) {
  .coverage__block .cyber__risk__info h1 {
    padding: 0 10px; }
  .coverage__block .cyber__risk__info ul {
    grid-template-columns: 1fr;
    grid-row-gap: 24px; }
    .coverage__block .cyber__risk__info ul li:nth-child(2) {
      border: none;
      border-top: 1px solid rgba(225, 225, 225, 0.1);
      border-bottom: 1px solid rgba(225, 225, 225, 0.1);
      padding: 24px 0; }
    .coverage__block .cyber__risk__info ul li p.h3-heading span::before {
      content: ' '; }
    .coverage__block .cyber__risk__info ul li p.text span::before {
      content: ' '; }
  .coverage__block .about__cyber__protection h2 {
    padding: 0 10px; }
  .coverage__block .about__cyber__protection-list__item {
    flex-direction: column;
    align-items: normal;
    row-gap: 48px;
    padding: 56px 32px; }
    .coverage__block .about__cyber__protection-list__item-picture {
      flex-direction: row;
      column-gap: 33px;
      max-width: none; }
      .coverage__block .about__cyber__protection-list__item-picture .signature {
        font-size: 12px; }
        .coverage__block .about__cyber__protection-list__item-picture .signature span {
          font-size: 14px; }
  .coverage__block .customer__dashboard a {
    margin-bottom: 36px; }
  .coverage__block .customer__dashboard-img {
    overflow: hidden; }
    .coverage__block .customer__dashboard-img img {
      width: 150%;
      position: relative;
      left: -15%; } }
@media (max-width: 360px) {
  .coverage__block .cyber__risk__info ul li p.h3-heading span::before {
    content: '\A'; }
  .coverage__block .cyber__risk__info ul li p.text span::before {
    content: '\A'; } }
.compony__block {
  margin-top: 127px; }
  .compony__block .data__science {
    margin-bottom: 157px; }
    .compony__block .data__science h1 {
      font-family: 'Commissioner';
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 110%;
      text-align: center;
      letter-spacing: -0.02em;
      color: #FFFFFF;
      max-width: 890px;
      margin: 0 auto 85px auto; }
    .compony__block .data__science-subtitle {
      display: none; }
    .compony__block .data__science-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 16px;
      margin: 0 70px; }
      .compony__block .data__science-wrapper__item {
        background: #27222A;
        border-radius: 16px;
        padding: 23px 48px 61px 48px; }
        .compony__block .data__science-wrapper__item .h2-heading {
          display: block;
          margin: 22px 0 24px 0;
          font-family: 'Commissioner';
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 120%;
          display: flex;
          align-items: center;
          letter-spacing: -0.02em;
          color: #FFFFFF; }
        .compony__block .data__science-wrapper__item-text {
          display: block;
          font-family: 'Commissioner';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          color: #83848A; }
          .compony__block .data__science-wrapper__item-text:nth-child(3) {
            margin-bottom: 25px; }
        .compony__block .data__science-wrapper__item:nth-child(3) {
          position: relative; }
        .compony__block .data__science-wrapper__item-icon {
          background: #00008F;
          border-radius: 0px 0px 16px 16px;
          position: absolute;
          width: 100%;
          padding: 36px 0 36px 48px;
          left: 0;
          bottom: 0; }
  .compony__block .company__employees {
    margin-bottom: 441px; }
    .compony__block .company__employees-founder {
      margin-bottom: 129px; }
      .compony__block .company__employees-founder blockquote {
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 120%;
        text-align: center;
        letter-spacing: -0.01em;
        color: #FFFFFF;
        max-width: 900px;
        margin: 0 auto;
        margin-bottom: 41px; }
      .compony__block .company__employees-founder figcaption {
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 500;
        font-size: 19.3846px;
        line-height: 140%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
        width: fit-content;
        margin: 0 auto; }
      .compony__block .company__employees-founder p.post {
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 140%;
        color: rgba(254, 254, 254, 0.6);
        opacity: 0.3;
        width: fit-content;
        margin: 0 auto; }
    .compony__block .company__employees-executive__team {
      margin-bottom: 86px; }
      .compony__block .company__employees-executive__team h3 {
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 120%;
        text-align: center;
        letter-spacing: -0.02em;
        color: #F6F6F6;
        width: fit-content;
        margin: 0 auto 40px auto; }
      .compony__block .company__employees-executive__team-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 220px;
        grid-column-gap: 16px; }
        .compony__block .company__employees-executive__team-wrapper__item {
          background: #27222A;
          border-radius: 16px;
          padding: 40px; }
          .compony__block .company__employees-executive__team-wrapper__item-info {
            display: flex;
            column-gap: 21px;
            align-items: center;
            margin-bottom: 101px; }
            .compony__block .company__employees-executive__team-wrapper__item-info__name h4 {
              font-family: 'JetBrains Mono';
              font-style: normal;
              font-weight: 500;
              font-size: 19.3846px;
              line-height: 140%;
              letter-spacing: 0.04em;
              text-transform: uppercase;
              color: #FFFFFF; }
            .compony__block .company__employees-executive__team-wrapper__item-info__name p {
              font-family: 'Commissioner';
              font-style: normal;
              font-weight: 400;
              font-size: 24px;
              line-height: 120%;
              color: rgba(254, 254, 254, 0.6);
              opacity: 0.3; }
          .compony__block .company__employees-executive__team-wrapper__item-text {
            font-family: 'Commissioner';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            display: flex;
            align-items: flex-end;
            color: #83848A; }
    .compony__block .company__employees-advisors__and__directors h3 {
      font-family: 'Commissioner';
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 120%;
      text-align: center;
      letter-spacing: -0.02em;
      color: #F6F6F6;
      width: fit-content;
      margin: 0 auto 40px auto; }
    .compony__block .company__employees-advisors__and__directors-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 16px;
      margin: 0 220px; }
      .compony__block .company__employees-advisors__and__directors-wrapper__item {
        background: #27222A;
        border-radius: 16px;
        padding: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .compony__block .company__employees-advisors__and__directors-wrapper__item h4 {
          font-family: 'JetBrains Mono';
          font-style: normal;
          font-weight: 500;
          font-size: 19.3846px;
          line-height: 140%;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: #FFFFFF; }
        .compony__block .company__employees-advisors__and__directors-wrapper__item p.post {
          font-family: 'Commissioner';
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 140%;
          color: rgba(254, 254, 254, 0.6);
          opacity: 0.3;
          margin-bottom: 110px; }
        .compony__block .company__employees-advisors__and__directors-wrapper__item p.text {
          font-family: 'Commissioner';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          display: flex;
          align-items: flex-end;
          color: #83848A; }

@media (max-width: 1439px) {
  .compony__block .company__employees {
    margin-bottom: 330px; }
    .compony__block .company__employees-executive__team-wrapper {
      margin: 0 70px; }
    .compony__block .company__employees-advisors__and__directors-wrapper {
      margin: 0 70px; } }
@media (max-width: 1023px) {
  .compony__block .data__science h1 {
    font-size: 39px;
    padding: 0 10px;
    margin-bottom: 32px; }
  .compony__block .data__science-subtitle {
    display: block;
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    opacity: 0.6;
    margin-bottom: 68px; }
  .compony__block .data__science-wrapper {
    grid-template-columns: 1fr;
    grid-row-gap: 9px; }
    .compony__block .data__science-wrapper__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 29px; }
      .compony__block .data__science-wrapper__item:nth-child(1) {
        order: 3; }
      .compony__block .data__science-wrapper__item:nth-child(2) {
        order: 2; }
      .compony__block .data__science-wrapper__item:nth-child(3) {
        order: 1; }
      .compony__block .data__science-wrapper__item-text:nth-child(3) {
        margin: 0; }
      .compony__block .data__science-wrapper__item-icon {
        background: none;
        border: none;
        position: static;
        width: auto;
        padding: 0; }
  .compony__block .company__employees {
    margin-bottom: 180px; }
    .compony__block .company__employees-founder blockquote {
      padding: 0 10px;
      font-size: 24px; }
    .compony__block .company__employees-executive__team h3 {
      font-size: 26px;
      margin-bottom: 24px; }
    .compony__block .company__employees-executive__team-wrapper {
      margin: 0 10px; }
    .compony__block .company__employees-advisors__and__directors h3 {
      font-size: 26px;
      margin-bottom: 24px; }
    .compony__block .company__employees-advisors__and__directors-wrapper {
      margin: 0 10px; } }
@media (max-width: 767px) {
  .compony__block .data__science {
    margin-bottom: 52px; }
    .compony__block .data__science-wrapper {
      margin: 0 10px; }
  .compony__block .company__employees {
    margin-bottom: 100px; }
    .compony__block .company__employees-founder {
      margin-bottom: 67px; }
    .compony__block .company__employees-executive__team {
      margin-bottom: 40px; }
      .compony__block .company__employees-executive__team-wrapper {
        grid-template-columns: 1fr;
        grid-row-gap: 16px; }
        .compony__block .company__employees-executive__team-wrapper__item {
          padding: 20px; }
    .compony__block .company__employees-advisors__and__directors-wrapper {
      grid-template-columns: 1fr;
      grid-row-gap: 16px; }
      .compony__block .company__employees-advisors__and__directors-wrapper__item {
        padding: 16px; } }
.donload__form__block section {
  display: flex;
  margin-left: 193px;
  column-gap: 179px;
  margin-top: 108px; }
  .donload__form__block section .left__content {
    max-width: 507px; }
    .donload__form__block section .left__content h2 {
      font-family: 'Commissioner';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 110%;
      letter-spacing: -0.02em;
      color: #000000;
      margin-bottom: 40px; }
    .donload__form__block section .left__content p {
      font-family: 'Commissioner';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: rgba(0, 0, 0, 0.8); }
      .donload__form__block section .left__content p:nth-child(3) {
        margin: 27px 0; }
    .donload__form__block section .left__content a {
      display: block;
      margin-top: 40px;
      padding: 12px 14px;
      background: #000000;
      border: 1px solid rgba(0, 0, 0, 0.04);
      border-radius: 4px;
      color: #FFFFFF;
      font-family: 'JetBrains Mono';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      width: fit-content; }
      .donload__form__block section .left__content a span:nth-child(3) {
        opacity: 0.5; }
      .donload__form__block section .left__content a svg,
      .donload__form__block section .left__content a span {
        vertical-align: middle; }

@media (max-width: 1439px) {
  .donload__form__block section {
    margin-left: 134px;
    column-gap: 60px; } }
@media (max-width: 1023px) {
  .donload__form__block section {
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    row-gap: 20px; } }
@media (max-width: 767px) {
  .donload__form__block section {
    margin-top: 54px;
    padding: 0 10px; }
    .donload__form__block section .left__content h2 {
      font-size: 32px; }
    .donload__form__block section .left__content p {
      font-size: 14px; } }
footer {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 193px;
  padding-top: 30px;
  margin-top: 70px; }
  footer p {
    font-family: 'Commissioner', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #83848A;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 40px; }
  footer .footer__links {
    margin-top: 16px; }
    footer .footer__links a {
      font-family: 'Commissioner', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #83848A; }
      footer .footer__links a:nth-child(2) {
        margin: 0 40px; }
  footer .footer__nav {
    display: none; }

@media (max-width: 1023px) {
  footer {
    padding: 0 16px;
    padding-top: 30px;
    margin-top: 17px; } }
@media (max-width: 767px) {
  footer {
    padding: 30px 16px 112px 16px; }
    footer .footer__links a:nth-child(2) {
      margin: 0 30px; }
    footer .footer__nav {
      display: block;
      margin-top: 54px;
      background: rgba(49, 43, 50, 0.7);
      backdrop-filter: blur(15px);
      border-radius: 43px;
      padding: 19px 32px;
      text-transform: uppercase; }
      footer .footer__nav a {
        color: #FFFFFF;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        font-family: 'JetBrains Mono', monospace;
        color: #FFFFFF; }
        footer .footer__nav a:nth-child(2) {
          margin: 0 35px; }
        footer .footer__nav a.active {
          opacity: 0.3; } }

/*# sourceMappingURL=style.css.map */
