.download__form__block section {
  display: flex;
  margin-left: 193px;
  column-gap: 179px;
  margin-top: 108px; }
  .download__form__block section .left__content {
    max-width: 507px; }
    .download__form__block section .left__content h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 110%;
      letter-spacing: -0.02em;
      color: #000000;
      margin-bottom: 40px; }
    .download__form__block section .left__content p {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: rgba(0, 0, 0, 0.8);
      opacity: 0.6;
      max-width: 95%; }
      .download__form__block section .left__content p:nth-child(3) {
        margin: 27px 0; }
        .download__form__block section .left__content p:nth-child(3) span:nth-child(2):before {
          content: '\A'; }
      .download__form__block section .left__content p span {
        white-space: pre; }
        .download__form__block section .left__content p span:before {
          content: ' '; }
    .download__form__block section .left__content a {
      display: block;
      margin-top: 40px;
      padding: 12px 14px;
      background: #000000;
      border: 1px solid rgba(0, 0, 0, 0.04);
      border-radius: 4px;
      color: #FFFFFF;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      width: fit-content;
      overflow: hidden;
      position: relative;
      transition: background 500ms ease; }
      .download__form__block section .left__content a:hover {
        background: rgba(0, 0, 0, 0.8); }
      .download__form__block section .left__content a span:nth-child(4) {
        opacity: 0.5; }
      .download__form__block section .left__content a span:nth-child(5) {
        opacity: 0.5; }
      .download__form__block section .left__content a svg,
      .download__form__block section .left__content a span {
        vertical-align: middle; }
    .download__form__block section .left__content-link__span-one, .download__form__block section .left__content-link__span-two {
      position: relative;
      bottom: 0; }
    .download__form__block section .left__content-link__span-one, .download__form__block section .left__content-link__span-one__hide, .download__form__block section .left__content-link__span-two, .download__form__block section .left__content-link__span-two__hide {
      transition: all 500ms ease; }
    .download__form__block section .left__content-link__span-one__hide, .download__form__block section .left__content-link__span-two__hide {
      position: absolute;
      bottom: -50px; }
    .download__form__block section .left__content-link__span-one__hide {
      left: 46px; }
    .download__form__block section .left__content-link__span-two__hide {
      left: 246px; }

.one-show {
  bottom: 50px !important; }

.two-show {
  bottom: 18px !important; }

@media (max-width: 1439px) {
  .download__form__block section {
    margin-left: 134px;
    column-gap: 60px; } }
@media (max-width: 1023px) {
  .download__form__block section {
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 0;
    row-gap: 20px; }
    .download__form__block section .left__content h2, .download__form__block section .left__content p {
      text-align: center; }
    .download__form__block section .left__content p span {
      white-space: pre; }
      .download__form__block section .left__content p span:before {
        content: '\A'; } }
@media (max-width: 767px) {
  .download__form__block section {
    margin-top: 54px;
    padding: 0 10px; }
    .download__form__block section .left__content h2 {
      font-size: 32px; }
    .download__form__block section .left__content p {
      font-size: 14px; }
    .download__form__block section .right-content svg {
      width: 98px;
      height: 98px; } }
@media (min-width: 1024px) {
  .download__form__block {
    height: 55vh; } }

/*# sourceMappingURL=download.css.map */
