.donload__form__block {
  section {
    display: flex;
    margin-left: 193px;
    column-gap: 179px;
    margin-top: 108px;

    .left__content {
      max-width: 507px;

      h2 {
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 110%;
        letter-spacing: -0.02em;
        color: #000000;
        margin-bottom: 40px;
      }

      p {
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: rgba(0, 0, 0, 0.8);

        &:nth-child(3) {
          margin: 27px 0;
        }
      }

      a {
        display: block;
        margin-top: 40px;
        padding: 12px 14px;
        background: #000000;
        border: 1px solid rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        color: #FFFFFF;
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        width: fit-content;

        span:nth-child(3) {
          opacity: 0.5;
        }

        svg,
        span {
          vertical-align: middle;
        }
      }
    }
  }
}

@media (max-width: 1439px) {
  .donload__form__block {
    section {
      margin-left: 134px;
      column-gap: 60px;
    }
  }
}

@media (max-width: 1023px) {
  .donload__form__block {
    section {
      flex-direction: column;
      align-items: center;
      margin-left: 0px;
      row-gap: 20px;
    }
  }
}

@media (max-width: 767px) {
  .donload__form__block {
    section {
      margin-top: 54px;
      padding: 0 10px;

      .left__content {
        h2 {
          font-size: 32px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }
}